
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Raleway|Roboto+Mono&display=swap');
*{background-color: rgb(235, 238, 226);}


/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;    
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333;
  }
  
  /* Change background on mouse-over */
   .navbar a:hover {
    background: red;
    color: black;
  }
  
  /* Main content */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }

h2{font-family: 'Raleway' ; color:red;
font-size: 20px;}


body{ margin: border-box; 
    padding: 200px;
font-family: "Raleway";    
    
font-size: 20px;}

font-family: 'Roboto Mono', monospace;
font-family: 'Bowlby One SC', cursive;