@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');


body {
    background-image: url("firewatch.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #cccccc;
   }
 

   * {     box-sizing: border-box;     padding: 25px; }




h2 {
    font-family: 'Bowlby One SC', cursive;
    font-size: 20px;
    color: red;
}

body {     background-color: rgba (255, 99, 71, 0.8); } 
